/* Error: Expected "from".
 *   ,
 * 5 | @for $dir in $directions {
 *   |           ^
 *   '
 *   scss\partials\_helpers.scss 5:11  @import
 *   scss\sassy.scss 3:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected "from".\a   \2577 \a 5 \2502  @for $dir in $directions {\d\a   \2502            ^\a   \2575 \a   scss\\partials\\_helpers.scss 5:11  @import\a   scss\\sassy.scss 3:9               root stylesheet';
}
