$displays:   'flex', 'inline-flex';
$directions: ('col': 'column', 'row': 'row');
$ordinals:   ('top': 'bottom', 'left': 'right');
$wraps:      'wrap', 'nowrap', 'wrap-reverse';
$justifies:  'center', 'start', 'end', 'flex-start', 'flex-end', 'left', 'right', 'normal', 'space-between', 'space-around', 'space-evenly', 'stretch', 'inherit', 'initial', 'unset';
$aligns:     'normal', 'stretch', 'center', 'start', 'end', 'flex-start', 'flex-end', 'baseline', 'inherit', 'initial', 'unset';
$fills:      'grow', 'shrink';

@each $display in $displays {
	$inline: if( $display == 'inline-flex', 'inline-', '' );
	$class:  if( $display == 'inline-flex', '', '-' );

	.#{$display},
	[class^="#{$display}"],
	[class*=" #{$display}"],
	.#{$display}-children > * {
		display: -webkit-#{$inline}box;
		display: -moz-#{$inline}box;
		display: -webkit-#{$inline}flex;
		display: -ms-#{$inline}flexbox;
		display: #{$inline}flex;
	}
}

@each $dir, $full in $directions {
	.flex-#{$dir} {
		flex-direction: #{$full};
	}

	.flex-#{$dir}-reverse,
	.flex-#{$dir}.reverse {
		flex-direction: #{$full}-reverse;
	}
}

@each $x, $y in $ordinals {
	.flex-#{$x} {
		margin-#{$y}: auto;
	}

	.flex-#{$y} {
		margin-#{$x}: auto;
	}
}

@each $wrap in $wraps {
	#{$wrap},
	.flex-#{$wrap} {
		flex-wrap: #{$wrap};
	}
}

@each $justify in $justifies {
	$label: if( str-index($justify, '-'), $justify, 'justify-' + $justify );
	
	.#{$label},
	.#{$label}-children > * {
		justify-content: #{$justify};
	}
}

@each $align in $aligns {
	.align-#{$align},
	.align-#{$align}-children > * {
		align-items: #{$align};
	}
}

@each $fill in $fills {
	.flex-#{$fill},
	.align-#{$fill}-children > * {
		flex-#{$fill}: 1;
	}
}