$palette: (
	// Base Colors
	'primary':   #0095ee,
	'secondary': #d8e1f1,

	// Named Colors
	'purple': #976ffb,
	'green':  #47cb6e,
	'pink':   #f16292,
	'yellow': #febb44,
	'cyan':   #01cad8,
	'peach':  #ff7471,

	// Emblematic Colors
	'gold':      #feb800,
	'gray':      #e5e9f1,
	'dark-gray': #797c88,

	// Typos
	'grey':      #e5e9f1,
	'dark-grey': #797c88,

	// Social Media
	'dribbble':  #ea4c89,
	'twitter':   #1da1f2,
	'linkedin':  #0077B5,
	'facebook':  #3b5999,
	'instagram': #e4405f,
	'youtube':   #ff0000,
);

@each $color, $hex in $palette {
	#{$color} {
		background-color: #{$hex};
		color: #fff;
	}
}